.icons {
    margin: 0;
    padding: 0;
}

.icons li {
    width: 64px;
    height: 64px;
    overflow: hidden;
    display: inline-block;
}

.icons--secondary li {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.icons a {
    display: block;
    text-indent: -99px;
    width: 50px;
    height: 50px;
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.icons a:hover {
    opacity: 0.5;
}

.icons--secondary a {
    -ms-background-size: 34px auto;
    background-size: 34px auto;
}

.icon--resume {
    background: url(img-home/cv.png);
}
.icon--mail {
    background: url(img-home/mail.png);
}
.icon--medium {
    background: url(img-home/write.png);
}
.icon--github {
    background: url(img-home/github.png);
}
.icon--wiki {
    background: url(img-home/wiki_white.png);
}
.icon--insta {
    background: url(img-home/insta.png);
}
.icon--flickr {
    background: url(img-home/flickr.png);
}
.icon--tweet {
    background: url(img-home/tweet.png);
}
.icon--vimeo {
    background: url(img-home/vimeo.png);
}
.icon--linkedin {
    background: url(img-home/linkedin.png);
}
