@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    font-family: "Roboto mono",sans-serif;
    margin: 0;
    position: relative;
    background: var( --background-color );
    max-width: 1600px;
}

article {
    position: relative;
}

nav {
    display: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 33px;
    top: 33px;
    text-align: right;
    text-transform: uppercase;
    z-index: 2;
}

nav a {
    color: var( --color-nav-link );
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    transition: color 0.2s ease-in;
}
nav a:active,
nav a:hover {
    color: var( --color-nav-link-hover );
}

header,
section {
    color: var( --color-home-text );
}

.header-box {
    padding: 20px;
}

footer a,
section a,
header a {
    color: var( --color-link );
}

header a:hover {
    text-decoration: none;
}

header h1 {
    display: inline;
    font-size: 26px;
}

.header__image {
    background: url(img-home/jdlr.jpg);
    height: 320px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-box__nickname {
    color: var( --color-subtitle );
    font-size: 26px;
}

/* writes */

#writes {
    background: var( --background-color-carousel );
}

#websites,
#writes,
#writes-fiction {
    text-align: center;
}

footer,
#writes-fiction {
    background: var( --background-color );
}

.slideshow {
    position: relative;
}

.slideshow--projects {
    text-align: center;
    margin: 30px 0 0 auto;
}

.slideshow--projects li a {
    align-self: center;
}

.slideshow--projects li span {
    align-self: flex-end;
    margin: auto;
}


.slideshow--projects li span {
    font-size: 0.9em;
    margin-top: 0;
}

.slideshow--projects img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 200px;
    align-self: flex-start;
}

.slideshow__items {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 50px;
}

.slideshow__item {
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
}

.slideshow__item > a {
    display: block;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slideshow__item > span > a {
    font-weight: bold;
}

.slideshow__item span {
    font-size: 18px;
}

.slideshow__button {
    color: transparent;
    border: none;
    display: none;
    background: url(img-home/arrow.svg);
    width: 25px;
    left: 10px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    position: absolute;
    text-indent: -99px;
    overflow: hidden;
}

.slideshow__button--right {
    left: auto;
    right: 10px;
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg);
}

.client-js .slideshow__item {
    display: none;
}

.client-js .slideshow {
    min-height: 500px;
}

.client-js .slideshow__button {
    display: block;
}
.client-js .slideshow__item--active {
    display: flex;
}

/* websites */
#websites {
    padding: 8px;
    background-image: url(/img-home/bench.png);
}

#websites p {
    font-size: 0.8em;
    text-align: right;
    margin: 0;
    padding: 8px 0 0;
}

h2 {
    margin: 0;
    padding: 40px 0 0;
    font-size: 21px;
    text-transform: uppercase;
}

.listings {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 15px;
}

.listings a {
    display: block;
}

.listings li {
    margin-bottom: 10px;
    width: 200px;
}
footer {
    font-size: 0.8em;
    padding: 8px;
    color: var( --color-home-text );
}

/* js only */
.slideshow__counter {
    padding: 10px 0;
    margin: 0;
}
.slideshow__counter__coin {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: solid 1px #333;
    background: var( --background-color-carousel-coin, white );
    opacity: 0.6;
    border-radius: 5px;
    margin: 0 2px;
}
.slideshow__counter__coin--active {
    opacity: 1;
}

@supports (position:fixed) {
    nav {
        position: fixed;
    }
}

@media ( min-width: 720px ) {

    .icons li {
        margin: 0 16px 0 0;
    }
    .header-box {
        padding: 60px 80px 100px 100px;
        width: 416px;
    }
    
    .header__image {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    section {
        padding: 122px 122px 100px 125px;
    }
    nav {
        display: block;
    }
    body {
        background:  var( --background-color ) url(img-home/bgrepeat.webp) left top repeat-y;
    }

    .client-js .slideshow {
        min-height: 150px;
    }

    #websites {
        padding: 20px;
        background-image: url(img-home/someday-cut.png);
        background-repeat:no-repeat;
        background-size: 100% auto;
    }

    .slideshow--projects {
        width: 40%;
        margin-right: 120px;
    }

    @supports (background-size: cover ){
        #websites,
        section {
            background-size: cover;
        }
    }
    .header__image {
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 600px;
        z-index: -1;
    }

    @supports ( display: grid ){
        header {
            display: grid;
            grid-template-columns: min-content;
        }
        .header-box {
            grid-column: 1;
        }
        .header__image {
            position: relative;
            top: auto;
            right: auto;
            width: auto;
            height: auto;
            grid-column: 2;
        }
    }
}


@media ( min-width: 1000px ) {
    .header-box {
        padding: 60px 200px 100px 300px;
    }
}
