@import url('https://fonts.googleapis.com/css?family=Barlow');

h1, html, body {
    margin: 0;
    padding: 0;
}

hr {
    background: none;
    border: none;
    margin: 20px 80px 50px;
}

hr::before {
    content: "... ";
    color: var( ----background-color-heading );
    font-size: 60px;
    text-align: center;
    width: 100%;
    display: block;
    max-width: 450px;
}

article section:first-child,
.section--first {
    padding-top: 20px;
}
.section--first hr {
    display: none;
}

h1, h2, #me {
    background: var( --background-color-heading );
}

section a {
    color: var( --color-post-link );
}

section a:visited {
    color: var( --color-post-link-visited );
}

h1 {
    font-size: 2em;
    padding: 20px 0 0;
}

h1, h2 {
    margin: 0;
    text-decoration: underline;
    display: inline;
    padding: 0;
    line-height: 44px;
    color: white;
}

h1 + h2 {
    display: block;
    background: none;
    color: inherit;
    text-decoration: none;
}

body {
    font-family: barlow-medium,barlow,sans-serif;
    margin: 0;
    position: relative;
    background-color: var( --background-post );
    background-image: radial-gradient(var( --background-post-dot ) 0.8500000000000001px, var( --background-post ) 0.8500000000000001px);
    background-size: 17px 17px;
}

article {
    background: var( --background-article );
    color: var( --post-text );
    padding: 0 8px 40px 8px;
    line-height: 1.6;
}

article img {
    width: 100%;
    height: auto;
}

a,
section {
    color: var( --post-text );
}

section p {
    margin-bottom: 27px;
}

blockquote {
    position: relative;
    padding: 0 40px 20px;
    margin: 0;
}

blockquote:before {
    content: '“';
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 60px;
    color: #e80447;
}

section p:last-child {
    margin-bottom: 0;
}

figure {
    margin: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

section img {
    max-width: 640px;
    width: 100%;
  }
  .aspectRatioPlaceholder {
    max-width: auto !important;
    max-height: auto !important;
  }
  .aspectRatioPlaceholder-fill {
    padding-bottom: 0 !important;
  }

figcaption {
    font-size: 0.75em;
    border-bottom: dotted 3px var( --border-color-figcaption );
    padding: 8px;
    margin-top: -8px;
}

li {
    margin-bottom: 8px;
}

section img {
    max-width: 640px;
}

footer {
    margin: 50px 0;
    text-align: left;
    font-size: 12px;
}

.aspectRatioPlaceholder {
    max-width: auto !important;
    max-height: auto !important;
}

.aspectRatioPlaceholder-fill {
    padding-bottom: 0 !important;
}

.p-name,
section[data-field=subtitle],
section[data-field=description] {
    display: none;
}

#me {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    color:var( --color-me );
}

#me a:visited,
#me a {
    color: var( --color-me-link );
    font-weight: bold;
}

#me a:visited {
    opacity: 0.9;
}

#me p {
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 28px;
    color: var( --color-me-text );
    margin: 0;
    line-height: 18px;
}

#me img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
}

#me .icons {
    float: right;
    margin-top: 20px;
}

/* clear the icons list */
#me:after {
    content: '';
    width: 100%;
    clear: both;
    display: block;
}

nav {
    font-weight: bold;
    padding: 8px;
    display: flex;
    align-items: center;
}

figcaption, h1,
nav, h2 {
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    display: inline-block;
    margin-right: 8px;
    background: var( --background-post-nav-link );
    color: var( --color-post-nav-link );
}

nav > span,
nav > a {
    padding: 8px;
}

nav > span {
    background: var( --background-post-nav-active );
    font-size: 12px;
}

pre {
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    background: white;
    padding: 8px;
    border-left: solid 3px #333;
}
@media ( min-width: 1000px ) {
    body {
        display: grid;
        grid-template-columns: 1fr 320px;
        grid-template-rows: 50px 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
        
    nav { grid-area: 1 / 1 / 2 / 2; }
    article { grid-area: 2 / 1 / 3 / 2; }
    header { grid-area: 2 / 2 / 3 / 3; }

    nav {
        margin: 0 60px;
        padding: 8px 0;
    }

    nav > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
        display: inline-block;
    }

    nav,
    article {
        max-width: 42rem;
        margin: auto;
        width: 100%;
        box-sizing: border-box;
    }
    article {
        padding: 2.25rem;
    }

    section {
        padding: 20px 0;
    }
    #me {
        width: 300px;
        height: 600px;
        position: sticky;
        align-self: start;
        top: 10px;
        transform: rotate(-2deg);
    }
}
