@import url('https://fonts.googleapis.com/css?family=Barlow');

h1, html, body {
    margin: 0;
    padding: 0;
}

hr {
    background: none;
    border: none;
    margin: 20px 80px 50px;
}

hr::before {
    content: "... ";
    color: #ff004b;
    font-size: 60px;
    text-align: center;
    width: 100%;
    display: block;
    max-width: 450px;
}

article section:first-child,
.section--first {
    padding-top: 20px;
}
.section--first hr {
    display: none;
}

h1, h2, #me {
    background: #e80447;
}

section a {
    color: #e80447;
}

section a:visited {
    color: #333;
}

h1 {
    font-size: 2em;
    padding: 20px 0 0;
}

h1, h2 {
    margin: 0;
    text-decoration: underline;
    display: inline;
    padding: 0;
    line-height: 44px;
    color: white;
}

h1 + h2 {
    display: block;
    background: none;
    color: inherit;
    text-decoration: none;
}

body {
    font-family: barlow-medium,barlow,sans-serif;
    margin: 0;
    position: relative;
    max-width: 1600px;
    background: #ff004b url(img-home/bgrepeat.webp) left top repeat;
}

article {
    background: white;
    padding: 0 8px 8px 8px;
}

a,
section {
    color: #333;
}

section p {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 1.6;
}

blockquote {
    position: relative;
    padding: 0 40px 20px;
    margin: 0;
}

blockquote:before {
    content: '“';
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 60px;
    color: #e80447;
}

section p:last-child {
    margin-bottom: 0;
}

figure {
    margin: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}

section img {
    max-width: 640px;
    width: 100%;
  }
  .aspectRatioPlaceholder {
    max-width: auto !important;
    max-height: auto !important;
  }
  .aspectRatioPlaceholder-fill {
    padding-bottom: 0 !important;
  }

figcaption {
    font-size: 0.8em;
    background:white;
    opacity: 0.9;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

li {
    margin-bottom: 8px;
}

section img {
    max-width: 640px;
}

footer {
    margin: 50px 0;
    text-align: left;
    font-size: 12px;
}

.aspectRatioPlaceholder {
    max-width: auto !important;
    max-height: auto !important;
}

.aspectRatioPlaceholder-fill {
    padding-bottom: 0 !important;
}

.p-name,
section[data-field=subtitle],
section[data-field=description] {
    display: none;
}

#me {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    color:white;
}

#me a:visited,
#me a {
    color: white;
    font-weight: bold;
}

#me a:visited {
    opacity: 0.9;
}

#me p {
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 28px;
    color: white;
    margin: 0;
    line-height: 18px;
}

#me img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
}

#me .icons {
    float: right;
    margin-top: 20px;
}

/* clear the icons list */
#me:after {
    content: '';
    width: 100%;
    clear: both;
    display: block;
}

nav {
    background: yellow;
    font-weight: bold;
    padding: 8px;
}

figcaption, h1,
nav, h2 {
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    margin-right: 8px;
}

@media ( min-width: 1000px ) {
    nav {
        background: yellow;
        padding: 14px 64px 5px;
        margin: 0 60px;
    }
    article {
        padding-left: 60px;
        margin: 0 60px;
    }

    section {
        padding: 20px 0;
        width: 600px;
    }
    #me {
        padding-top: 47px;
        width: 300px;
        position: absolute;
        right: 121px;
        top: 0;
    }
}
